body {
  background-color: rgb(92, 23, 23);
}

textarea {
  background-image: url('scroll.jpg');
  background-size: cover; /* Ensures the background image covers the entire textarea */
  background-position: center; /* Centers the background image */
  width: 290px;
  height: 150px;
  border-style: outset;
  border-width: medium;
  word-wrap: break-word;
  color: black;
  text-align: center; /* Centers the text horizontally within the textarea */
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;

  resize: none; /* Prevent resizing */
  line-height: 150px; /* Vertically center the text */
}

button {
  background-color: rgb(230, 208, 88);
  align-content: center;
}
h1 {
  color: rgb(230, 208, 88);
  font-family: sans-serif;
  text-shadow: 2px 2px 5px rgb(230, 208, 88);
}

h2 {
  color: rgb(230, 208, 88);
  font-family: sans-serif;
}

h3 {
  color: rgb(230, 208, 88);
  font-family: sans-serif;
}
